
global
  maxconn 4096
  log stdout format raw local0

defaults
  mode tcp
  timeout connect 3s
  timeout client  30s
  timeout server  30s
  log global

frontend crdb_sql
  bind *:26257
  default_backend crdb_nodes

frontend stats
  bind *:8404
  mode http
  stats enable
  stats uri /stats
  stats refresh 2s
  stats show-legends

backend crdb_nodes
  balance roundrobin
  option httpchk GET /health?ready=1
  http-check expect status 200
  default-server check port 8080 inter 2000 rise 2 fall 2 on-marked-down shutdown-sessions
  server crdb1 crdb-1:26257
  server crdb2 crdb-2:26257
  server crdb3 crdb-3:26257
